//for icons
@import "font-awesome";

	/* HEC Customizations */
$logo: 'images/custom/logo.png';
$logo-height: 35px;
$logo-width: 167px;

$background-color-secondary: #133461;
$font-family: 'Arial', 'sans-serif';

.Mrphs-toolTitleNav__title, 
.Mrphs-toolTitleNav__text {
	font-family: $font-family;
}

/* Login nav */
.Mrphs-topHeader 
.Mrphs-loginNav {
	margin-top: 5px!important;
}

/* Footer */
$footer-font-size: 1.2em !default;

.Mrphs-footer {
	text-align: center;
	font-size: $footer-font-size;
}

.Mrphs-footer--nav.Mrphs-footer--nav__project {
	text-align: center;
	list-style: none;
}

/* Hide "Forgot your password?" link on xlogin */
#Mrphs-xlogin p a {
	display: none;
}

/* Icon font */
@font-face {
  font-family: 'ZcIconFont';
  src: url('images/custom/icons/zc-icon-font.eot'); /* IE9 Compat Modes */
  src: url('images/custom/icons/zc-icon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('images/custom/icons/zc-icon-font.woff') format('woff'), /* Pretty Modern Browsers */
       url('images/custom/icons/zc-icon-font.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.icon-sakai--sakai-opensyllabus-tool {
	font-family: 'ZcIconFont'!important;
}

.icon-sakai--sakai-opensyllabus-tool:before {
	content: "\e900";
}

.icon-sakai--sakai-cdm {                                  @extend .fa-pencil-square-o; }
.icon-sakai--sakai-opensyllabus-manager-tool {            @extend .fa-cogs; }
.icon-sakai--sakai-hec-public-portal-manager {            @extend .fa-arrows-h; }
.icon-sakai--sakai-hec-course-archive {                   @extend .fa-history; }
.icon-sakai--sakai-aat {                                  @extend .fa-paint-brush; }
.icon-sakai--sakai-rsf-evaluation {                       @extend .fa-check-square-o; }
.icon-sakai--sakai-via {                                  @extend .fa-comments; }
.icon-sakai--sakai-tegrity {                              @extend .fa-video-camera; }