.idea
.project
.classpath
.settings
*.iml
*.swp
*.orig
*.rej
target
sakai-demo.tar.gz
sakai-demo.zip
.directory
.sass-cache
.metadata
.DS_Store
*nb-configuration.xml
*velocity.log
evaluation/
hec-catalog-description-manager/
hec-commons-utils/
hec-course-archive/
hec-public-portal-ui/
hec-public-portal-manager/
opensyllabus/
via/
compilatio/
tenjin/
tmp
hec-grade-viewer/
hec-quartz-jobs/
