.#{$namespace}sakai-siteinfo{
	.groups-site{
		list-style: none;
		
		li {
			min-height: 4em;
			&:nth-child(odd){
				background: darken( $tool-background-color, 5% );
			}
		}
	}

	button.multiselect {
		background-color: #fff;
		border: 1px solid silver;
		color: #212121 !important;
	}
}

#toolSelectionList{
	ul{
		padding: 0 0 0 0;
	}
}
