	/* HEC Customizations */
$logo: 'images/custom/logo.png';
$logo-height: 30px;
$logo-width: 134px;

$background-color-secondary: #133461;
$font-family: 'Arial', 'sans-serif';

.Mrphs-toolTitleNav__title, 
.Mrphs-toolTitleNav__text {
	font-family: $font-family;
}

/* Login nav */
.Mrphs-topHeader 
.Mrphs-loginNav {
	margin-top: 5px!important;
}

/* Footer */
$footer-font-size: 1.2em !default;

.Mrphs-footer {
	text-align: center;
	font-size: $footer-font-size;
}

.Mrphs-footer--nav.Mrphs-footer--nav__project {
	text-align: center;
	list-style: none;
}

.Mrphs-footer--details__build-info,
.Mrphs-footer--details__server-time {
	display: none;
}

/* Icon font */
@font-face {
  font-family: 'ZcIconFont';
  src: url('images/custom/icons/zc-icon-font.eot'); /* IE9 Compat Modes */
  src: url('images/custom/icons/zc-icon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('images/custom/icons/zc-icon-font.woff') format('woff'), /* Pretty Modern Browsers */
       url('images/custom/icons/zc-icon-font.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.icon-sakai-opensyllabus-tool {
	font-family: 'ZcIconFont'!important;
}

.icon-sakai-opensyllabus-tool:before {
	content: "\e900";
}
