.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
	background: #fff no-repeat center center !important;
	background-image: url('/res/images/logo-top.png')!important;
	background-size: 250px 53px !important;
	width: 250px!important;
}

.Mrphs-mainHeader .Mrphs-headerLogo {
	background: #fff!important;
}

.Mrphs-topHeader a {
	color: #009fdf!important;
}

#topnav_container, 
#toolMenuWrap, 
.Mrphs-toolsNav__menuitem--link,
.Mrphs-toolTitleNav.Mrphs-container--toolTitleNav {
	background-color: #eee!important;
}

/* Engagement remise de travaux */
#honor-pledge-agreement h4 {
	font-size: 30px!important;
}

#honor-pledge-agreement p {
	font-size: 16px!important;
}

/* Forum */
.forumHeader {
	background: #eee!important;
	border: 1px solid #ddd!important;
}

.topicBloc {
	border-left: 1px solid #ddd!important;
}

.topicBloc.topicBlocLone {
	border-color: #ddd!important;
	border-left: 5px solid #ddd!important;
	background-color: #eaeaea!important;
}

.singleMessageReply {
	background-color: #eee!important;
}

/* Remove space for iframe container */
.Mrphs-multipleTools .Mrphs-sakai-iframe {
	margin-top: 0!important;
}

/* More space for the left menu */
body #toolMenuWrap {
	width: 250px!important;
	min-width: 250px!important;
}

body.Mrphs-toolMenu-collapsed #toolMenuWrap {
	width: 42px!important;
	min-width: 42px!important;
}

/* Icon font */
@font-face {
	font-family: 'ZcIconFont';
	src: url('images/hec/icons/zc-icon-font.eot'); /* IE9 Compat Modes */
	src: url('images/hec/icons/zc-icon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('images/hec/icons/zc-icon-font.woff') format('woff'), /* Pretty Modern Browsers */
		url('images/hec/icons/zc-icon-font.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.icon-sakai--sakai-opensyllabus-tool {
	font-family: 'ZcIconFont'!important;
}

.icon-sakai--sakai-opensyllabus-tool:before {
	content: "\e900";
}

.icon-sakai--sakai-tenjin {
	font-family: 'ZcIconFont'!important;
}

.icon-sakai--sakai-tenjin:before {
	content: "\e900";
}

.icon-sakai--sakai-cdm {                                  @extend .fa-pencil-square-o; }
.icon-sakai--sakai-opensyllabus-manager-tool {            @extend .fa-cogs; }
.icon-sakai--sakai-hec-public-portal-manager {            @extend .fa-arrows-h; }
.icon-sakai--sakai-hec-course-archive {                   @extend .fa-history; }
.icon-sakai--sakai-aat {                                  @extend .fa-paint-brush; }
.icon-sakai--sakai-rsf-evaluation {                       @extend .fa-check-square-o; }
.icon-sakai--sakai-via {                                  @extend .fa-comments; }
.icon-sakai--sakai-tegrity {                              @extend .fa-video-camera; }
.icon-sakai--sakai-yuja {                                 @extend .fa-youtube-play; }
.icon-sakai--sakai-zoom {                                 @extend .fa-video-camera; }
.icon-sakai--sakai-wooclap {                              @extend .fa-bar-chart; }
